body{
   font-family: Verdana, Arial, sans-serif;
     background: url(tss1.jpg);
     background-attachment: fixed;
    background-repeat: no-repeat;
     background-position:100%;
	

    }
	

header { background-color:#bfb7b7;
 width: 100%;
       
  height:130px;
	    
 }	


	
* {
   padding: 0;
   
margin: 0;	


  }

}
header nav{
  
  display: inline;
   
 position: relative;
   
 float: left;
   
 margin: 0.7em 5em 3em 3em;
}

h2 {
	padding-top:0.5em;

	padding-left:2em;
   
 color: black;
  
  text-align: left;
}


header ul{
    list-style-type: none;
 
   margin:0em 0 ;
    
padding:3em 0 0 0.2em;
}

header li{
   
 display: inline;
  
  padding: 0.5em 2em;
  
  font-family: sans-serif;
 
   font-weight: bold;
	
border: solid 1px #ffffff;

	background-color: rgba(255, 255, 255, 0.3);	

}


header li a{
    
color: black;
  
  text-decoration:none;
	
margin: 0.5em 0.5em;
	
}

header li a:hover{
   
 color:white;
}

header form{
    
padding-top:0em;
   
 margin-bottom: 70em;
}

/*Artikujt*/
.Italian img{
    width:400px;
    height: 200px;
    margin: 2em;
    float:left;
	border: solid 1px black;
	border-radius: 15px;

}

.Italian{ 
    float:left;
    width: 800px;
    margin-top: 5em;
    margin-bottom: 4em;
	margin-right: 6em;
    font-size: 16px;
    background-color:rgba(223, 191, 159, 0.7);
    overflow: auto;
	margin: 3em;
	border-radius: 15px;
	}
	
.Italian h3{
    margin-left: 2em;
    font-size: 2em;
    margin-bottom: 0.35em;
	margin-top: 1em;
	
	
}
.Italian p{
    margin-top: 0.35em;
	margin-right: 6em;
	margin-bottom: 4em;
	
	font-size: 15px;
	
}

