body{
   font-family: Verdana, Arial, sans-serif;
     background-color: lightgrey;
     background-attachment: fixed;
    background-repeat: no-repeat;
     background-position:100%;
	

    }
	
	
